<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>
            Giao's App

            Header, login

            Form
            <div>
                <form>
                    <label for="point-a">Where are you traveling from?</label>
                    <select name="location" id="point-a">
                        <option value="town-a">Town A</option>
                    </select>
                </form>
            </div>

            <div>
                <form>
                    <label for="point-a">Where are you traveling to?</label>
                    <select name="location" id="point-b">
                        <option value="town-b">Town B</option>
                    </select>
                </form>
            </div>

            <form>
                Which method of transportation do you use?
              
                <input type="radio" name="transportation-type" value="donkey" id="donkey-cart">
                <label for="donkey">Donkey Cart</label>
              
                <input type="radio" name="transportation-type" value="teleportation" id="teleportation-portal">
                <label for="teleportation">Teleportation Portal</label>
              </form>

              <div>
                <form>
                    <label for="point-a">How many times per week do you travel this route?
                        <!-- (This number is taken to multiply the the fare if the user is paying per trip.) --> </label>
                    <select name="frequency" id="frequency">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </form>
            </div>

            <div>
                <form>
                    Do you pay per trip or do you prepay?
              
                <input type="radio" name="" value="standard" id="per-trip">
                <label for="standard-shipping">Per trip</label>
              
                <input type="radio" name="shipping" value="expedited" id="prepay">
                <label for="expedited-shipping">Prepay</label>
              </form>
            </div>
            
            <div>
                <button type="submit">Submit</button>
            </div>

        </body>
</html>