{% extends 'base.html' %}

{% block body %}
            <div>
                <div>
                <form action="/results">
                    <label for="point-a">Where are you traveling from?</label>
                    <select name="origin" id="point-a">
                        <option value="town-a">Town A</option>
                    </select>
                </div>
                
                <div>
                    <label for="point-b">Where are you traveling to?</label>
                    <select name="destination" id="point-b">
                        <option value="town-b">Town B</option>
                        <option value="town-c">Town C</option>
                        <option value="town-d">Town D</option>
                    </select>
                </div>
                
                <div>
                        Which method of transportation do you use?
              
                        <input type="radio" name="transportation-type" value="donkey" id="donkey-cart">
                        <label for="donkey">Donkey Cart</label>
                        <input type="radio" name="transportation-type" value="teleportation" id="teleportation-portal">
                        <label for="teleportation">Teleportation Portal</label>
                </div>
                <div>
                    <label for="point-a">How many times per week do you travel this route?
                        <!-- (This number is taken to multiply the the fare if the user is paying per trip.) --> </label>
                    <select name="frequency" id="frequency">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>

                <div>
                    Do you pay per trip or do you prepay?
              
                    <input type="radio" name="fare-type" value="per-trip" id="per-trip">
                    <label for="per-trip">Per trip</label>
                  
                    <input type="radio" name="fare-type" value="prepay" id="prepay">
                    <label for="prepay">Prepay</label>
                </div>
                <div>
                    <input type="submit"></input>
                </div>
                </form>
            </div>

{% endblock %}